<div class="col-sm-4">
  <div class="pro-m">
    <div class="t-bg"></div>
    <div class="form-group">
        <LinkTo @route="user" class="secbox">
        <img src="images/gravatar.png" alt="avatar" />
        <h2>{{this.args.user.username}}</h2>
        <p>@{{this.args.user.username}}</p>
        </LinkTo>
    </div>
    <div class="form-group">
      <div class="row mrgn-m">
        <div class="col-sm-4">
          <span class="small-txt">quotes</span>
          <span class="big-txt">{{this.args.user.numberOfQuotes}}</span>
        </div>
        <div class="col-sm-4">
          <span class="small-txt">following</span>
          <span class="big-txt">{{this.args.user.numberOfFollowing}}</span>
        </div>
        <div class="col-sm-4">
          <span class="small-txt">followers</span>
          <span class="big-txt">{{this.args.user.numberOfFollowers}}</span>
        </div>
      </div>
    </div>
  </div>
</div>